<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Symfosys Technologies</h5>
          <p>Innovative solutions for your business needs</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/services" class="text-white">Services</a></li>
            <li><a href="/clients" class="text-white">Clients</a></li>
            <li><a href="/careers" class="text-white">Careers</a></li>
            <li><a href="/contact" class="text-white">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Info</h5>
          <address>
            123 Tech Park, Innovation Street<br>
            Business District, City<br>
            Phone: +1 (123) 456-7890<br>
            Email: info@symfosys.com
          </address>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <p class="mb-0">&copy; <%= new Date().getFullYear() %> Symfosys Technologies. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>